doctype html
head
  meta(charset='UTF-8')
  link(rel='icon', href='favicon.png')
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title=title
  meta(name='og:title', content=title)
  meta(name='description', content=seoDescription)
  meta(property='og:description', content=seoDescription)
  meta(name='generator', content=generators)
  meta(name='robots', content=robotsPolicy)
  meta(name='url', content=homeURL)
  link(rel='stylesheet', href='./src/styles/style.css')
  script(type='module', src='./src/main.ts')
body
  #app
  script(async='', src=scriptSrc)
  script=scriptContent